* {
    box-sizing: border-box;
    box-shadow: #29627e;
    font-family: 'Courier New', Courier, monospace;
}
/*yorum satırı*/
html,
body,
div>main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
}
/*yorum satırı*/
main>p {
    align-self: center;
    position: relative;
    color: rgb(93, 83, 153);
    font-size: x-large;
}
/*yorum satırı*/
#p00 {
    font-size: xx-large;
    font-weight: bold;
    color: #29627e;
    font-style: italic;
}
/*yorum satırı*/
.container {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.container>fieldset {
    width: 25%;
    border-style: hidden;
    color: antiquewhite;
}

#fieldset01>p:nth-child(even) {
    text-decoration: underline;
    color: crimson;
}

.container>img {
    width: 50%;
    height: auto;
}

details {
    align-self: center;
    margin: 2%;
    color: #481e79;
    font-weight: bold;
    text-align: justify;
}

details>summary {
    color: darkmagenta;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

iframe {
    width: 560px;
    height: 315px;
    border: none;
    margin-left: 40%;
}

table {
    color: aquamarine;
    width: 50%;
    margin-bottom: 5%;
}

table>thead>tr {
    text-align: left;
}

#Okul,
#Cocuklar {
    margin-left: 30%;
}

#Arkadaslar {
    margin-left: 28%;
}

#Okul>thead,
#Arkadaslar>thead,
#Cocuklar>thead {
    color: #481e79;
    font-size: x-large;
}